body{
    margin: 0;
    height: 100%;
}

.header{
    padding: 15px 0;
    background-color: #ffffff;
}

.header-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 0px solid green;
}

.logo-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 0px skyblue;
    width: 80%;
}

.logo-content-img {
    border: solid 0px #42515f;
}

.add-text{
    text-align: left;
    text-transform: uppercase;
    opacity: 1;
    font: normal normal bold 20px Montserrat;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0px;
    color: rgb(41, 123, 155);
    
}

.add-book{
    color: #42515f;
}

*{
    box-sizing: border-box;
}

.form-content{
    min-height: calc(100% - 80px);
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px solid green;
}

.form{
    width: 70%;
    padding: 44px 60px;
    background: white 0% 0% no-repeat;
    box-shadow: 0px 3px 6px #00000029;
    box-shadow: 0px 3px 6px #00000029;
    border: 0px solid #f7f7f7;
    border-radius: 4px;
    opacity: 1;
}

.form-head{
    width: 100%;
    display: flex;
    justify-content: space-around;
    font: normal normal normal 28px/37px Roboto;
    letter-spacing: 0px;
    color:white;
    background: #008CFF 0% 0% no-repeat padding-box;
    text-transform: capitalize;
    border-radius: 4px;
    opacity: 1;
    padding-bottom: 20px;
    padding-top: 20px;
}

.form-head-img{
    background: 0% 0% no-repeat padding-box;
    opacity: 1;
    cursor: pointer;
 
}   

.form-row{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    align-items: left;
    border: 0px solid blue;
}

.label{
    min-width: 140px;
    text-transform: uppercase;
}

label{
    padding: 12px 12px 12px 0;
    /*display: inline-block;*/
}

.text{
    display: flex;
    justify-content: left;
    font-size: 16px;
    color: #42515f;
    opacity: 1;
    font-family: Roboto;
}

.input{
    background-color: rgb(211, 211, 211);
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

.input-address{
    background-color: rgb(211, 211, 211);
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    height: 100px;
    border-radius: 4px;
    resize: vertical;
}

.form-row-2{
    margin: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.input-abc{
    background-color: rgb(211, 211, 211);
    width: 95%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;

}

.error-text-output{
    margin-left: 12px;
    color: red;
    font-size: 14px;
    font: italic;
    opacity: 0.6;
}

.button-content{
    margin-top: 5%;
    display: flex;
    flex-direction: row-reverse;
}

.button{
    height: 100%;
    font-size: 22px;
    font-family: Roboto;
    text-align: center;
    letter-spacing: 0px;
    color: #42515f;
    opacity: 1;
    background: lightgray;
    border: none;
    font-weight: 400;
    min-width: 140px;
    padding: 7px 7px;
    border: 1px solid #707070;
    border-radius: 4px;
    cursor: pointer;
}

.submitButton{
    margin-left: 100px;
    margin-right: 120px;
}

.submitButton:hover{
    color: whitesmoke;
    border: none;
    background-color: green;
    /* margin-right: 30px; */
    opacity: 0.8;
}

.resetButton:hover{
    /* margin-left: 10px; */
    background-color: grey;
}
@media only screen and (max-width:1500px){
    .form{
        width: 85%;
        padding: 44px 20px;
    }
    .input-abc{
        max-width: 70%;
    }
}

@media only screen and (max-width: 600px){
    .form{
        margin-top: 10px;
    }
    .button{
        display: flex;
        flex-direction: row-reverse;
        margin-bottom: 25px;
    }

    .form-row-2{
        min-width: auto;
        display: flex;
        flex-direction: column;
    }
    .submitButton{
        margin: 0;
        
    }
    .button-content{
        margin-top: 25px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        
    }
}
