body{
    margin: 0;
    height: 100%;
}

.header{
    padding: 15px 0;
    background-color: #ffffff;
}

.header-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 0px solid green;
}

.logo-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 0px skyblue;
    width: 80%;
}

.logo-content-img {
    border: solid 0px #42515f;
}

.add-text{
    text-align: left;
    text-transform: uppercase;
    opacity: 1;
    font: normal normal bold 20px Montserrat;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0px;
    color: rgb(41, 123, 155);
    
}

.add-book{
    color: #42515f;
}

*{
    box-sizing: border-box;
}

.main-content{
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 80px);
    background-color: #f7f7f7;
    padding:  30px 0 10px;
    box-sizing: border-box;
}

.header-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding-bottom:  25px;
}


.header-data{
    
    font-size: 35px;
    font-family: sans-serif Arial,Roboto;
    font-weight: 600;
    color:  rgb(112, 111, 111);
    display: flex;
    align-items: flex-start;
    opacity: 1;
}

.header-add{
    font-size: 30px;
    font-family: sans-serif Arial,Roboto;
    font-weight: 500;
    display:flex;
    color: white;
    height: 60px;
    width: 230px;
    align-items: center; 
    justify-content: center;
    background-color: rgb(56, 125, 216);  
    border-radius: 4px;
    text-decoration: none;

}

.table-main{
    width: 80%;
    margin: 0 auto;
    overflow: auto;
}

.table{
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 15px;
    min-width: 800px;
}

td, th{
    text-align: left;
    padding: 5px 8px;
}

th{
border-radius: 3px 3px 0px 0px;
text-align: left;
font: normal normal medium 14px/20px Roboto;
letter-spacing: 0px;
color: lightskyblue;
text-transform: none;
opacity: 1;
border: 0px solid #dddddd;
}

tr:not(:first-child){
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #e3e3ee;
    border-radius: 3px;
}

td{
    font: normal normal normal 14px/21px Roboto;
    letter-spacing: 0px;
    color: #3d3d3d;
    opacity: 1;
}

td:first-child{
    display: flex;
    align-items: center;
}